<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bruteforces.demo.dao.BlogMapper">
    <resultMap id="blogResultMap" type="com.bruteforces.demo.entity.Blog">
        <!--private int blogId;-->
        <!--private String blogTitle;-->
        <!--private String blogSrc;-->
        <!--private Timestamp blogTime;-->
        <result column="blog_id" property="blogId" jdbcType="INTEGER"/>
        <result column="blog_title" property="blogTitle" jdbcType="VARCHAR"/>
        <result column="blog_src" property="blogSrc" jdbcType="VARCHAR"/>
        <result column="blog_time" property="blogTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--public List<Blog> getAll();-->

    <!--public int addNewBlog(Blog blog);-->

    <!--public Blog getBlogById(int blogId);-->

    <!--public Blog getBlogByTitle(String blogTitle);-->

    <!--public int deleteBlogById(int blogId);-->

    <select id="getAll" resultMap="blogResultMap">
        SELECT * FROM blogs
    </select>

    <insert id="addNewBlog" parameterType="com.bruteforces.demo.entity.Blog">
        INSERT INTO blogs
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            null,
            #{blogTitle, jdbcType=VARCHAR},
            #{blogSrc, jdbcType=VARCHAR},
            #{blogTime, jdbcType=TIMESTAMP}
        </trim>
    </insert>

    <select id="getBlogById" parameterType="java.lang.Integer" resultMap="blogResultMap">
        SELECT * FROM blogs
        WHERE blog_id = #{blogId, jdbcType=INTEGER}
    </select>

    <select id="getBlogByTitle" parameterType="java.lang.String" resultMap="blogResultMap">
        SELECT * FROM  blogs
        WHERE blog_title = #{blogTitle, jdbcType=VARCHAR}
    </select>

    <delete id="deleteBlogById" parameterType="java.lang.Integer">
        DELETE FROM blogs
        WHERE blog_id = #{blogId, jdbcType=INTEGER}
    </delete>

</mapper>